n8n.json
{
  "name": "cuoi ku",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:\"Hóa đơn\" has:attachment in:inbox -in:spam"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "cb701c11-e4ed-4012-9c79-529b3d31fe5d",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        176
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "icTEVPpEBdo1D4dq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// === PHẦN BẠN PHẢI SỬA ===\n// Điền chính xác tên node Gmail Trigger của bạn vào đây\nconst gmailNodeName = \"Gmail Trigger\"; \n// === HẾT CẤU HÌNH ===\n\n// === SỬA LỖI: Dùng items[0].json (vì mode là \"All Items\") ===\n// Lấy dữ liệu từ Gemini (đầu vào của node này)\nconst geminiOutput = items[0].json;\n// === HẾT SỬA LỖI ===\n\n// Lấy dữ liệu từ Gmail (node đầu tiên)\nconst gmailNodeObject = $(gmailNodeName);\nconst gmailItem = gmailNodeObject.all()[0];\n\n// 1. Lấy thông tin từ Gmail (từ node trigger)\nlet sender = \"N/A\"; // Đổi tên biến này\nlet receivedDate = \"N/A\";\nlet filename = \"Không có file\";\n\n// === GIỮ NGUYÊN THEO TIP: Giữ toàn bộ object binary ===\n// Lấy binary từ input items (từ node trước đó) hoặc từ Gmail node\nlet originalBinaryObject = {};\n\n// Thử lấy binary từ input items trước (từ Code in JavaScript node)\nif (items[0] && items[0].binary) {\n  originalBinaryObject = items[0].binary;\n  console.log('Binary found in input items');\n} else if (gmailItem && gmailItem.binary) {\n  originalBinaryObject = gmailItem.binary;\n  console.log('Binary found in Gmail node');\n} else {\n  console.warn('No binary found in input items or Gmail node');\n}\n// === HẾT ===\n\nif (gmailItem) {\n  // === SỬA LỖI [object Object] Ở ĐÂY ===\n  // Lấy \"name\" từ bên trong object \"from\"\n  try {\n    sender = gmailItem.json.from.value[0].name; // Lấy \"Phùng Mạnh Dũng\"\n  } catch (e) {\n    sender = gmailItem.json.from.text || \"Không rõ\"; // Fallback\n  }\n  // === HẾT SỬA LỖI ===\n\n  receivedDate = new Date(gmailItem.json.date).toLocaleString('vi-VN', { \n      timeZone: 'Asia/Ho_Chi_MinH' \n  });\n \n  // Lấy tên file từ object binary\n  const firstBinKey = Object.keys(originalBinaryObject)[0]; // (ví dụ: 'attachment_0')\n  if(firstBinKey) {\n    filename = originalBinaryObject[firstBinKey].fileName || \"Không có file\";\n  }\n} else {\n  // Báo lỗi nếu không tìm thấy node Gmail\n  filename = \"Lỗi: Không tìm thấy node '\" + gmailNodeName + \"'\";\n}\n\n// 2. Lấy thông tin từ Gemini\nlet vat = \"Lỗi AI\";\nlet nhaCungCap = \"Lỗi AI\";\nlet ngayXuatHoaDon = \"Lỗi AI\";\n\ntry {\n  const rawText = geminiOutput.candidates[0].content.parts[0].text;\n  const jsonStart = rawText.indexOf('{');\n  const jsonEnd = rawText.lastIndexOf('}');\n  const jsonString = rawText.substring(jsonStart, jsonEnd + 1);\n  const extractedData = JSON.parse(jsonString);\n\n  vat = extractedData[\"Mã số thuế(VAT)\"] || extractedData[\"Mã số thuế (VAT)\"] || extractedData[\"vat\"] || \"Không tìm thấy\";\n  nhaCungCap = extractedData[\"Tên nhà cung cấp\"] || extractedData[\"nha_cung_cap\"] || \"Không tìm thấy\";\n  ngayXuatHoaDon = extractedData[\"Ngày xuất hóa đơn\"] || extractedData[\"ngay_hoa_don\"] || \"Không tìm thấy\";\n} catch (e) {\n  vat = e.message;\n}\n\n// 3. Chuyển binary thành base64 để gửi qua HTTP Request với jsonParameters: true\nlet fileDataBase64 = null;\nlet fileMimeType = null;\n\n// Debug: Kiểm tra binary object\nconsole.log('Binary object keys:', Object.keys(originalBinaryObject));\n\nconst binKey = Object.keys(originalBinaryObject)[0];\nif (binKey && originalBinaryObject[binKey]) {\n  const binData = originalBinaryObject[binKey];\n  console.log('Binary data found:', binKey, 'has data:', !!binData.data, 'mimeType:', binData.mimeType);\n  \n  // n8n binary object có .data là base64 string\n  if (binData.data) {\n    // Kiểm tra xem data có phải là string không\n    if (typeof binData.data === 'string') {\n      fileDataBase64 = binData.data; // Đã là base64 string\n      fileMimeType = binData.mimeType || binData.mime || 'application/octet-stream';\n      console.log('File data extracted, length:', fileDataBase64.length);\n    } else {\n      console.error('Binary data is not a string:', typeof binData.data);\n    }\n  } else {\n    console.warn('Binary data has no .data field');\n  }\n} else {\n  console.warn('No binary key found or binary object is empty');\n}\n\n// 4. Kết hợp tất cả lại (bao gồm binary dưới dạng base64)\nconst finalJson = {\n  nguoiGuiMail: sender, // Biến \"sender\" bây giờ là \"Phùng Mạnh Dũng\"\n  ngayNhanMail: receivedDate,\n  tenFile: filename,\n  vat: vat,\n  nhaCungCap: nhaCungCap,\n  ngayXuatHoaDon: ngayXuatHoaDon,\n  // Thêm binary dưới dạng base64 để HTTP Request node có thể gửi\n  fileData: fileDataBase64, // Base64 string của file\n  fileMimeType: fileMimeType,\n  // Giữ binary object cho các node khác (Google Drive, Telegram)\n  binary: originalBinaryObject\n};\n\n// 5. Trả về JSON đã kết hợp VÀ object binary GỐC (cho các node khác)\nreturn [{\n  json: finalJson,\n  binary: originalBinaryObject // Trả về { attachment_0: {...} } cho Google Drive, Telegram\n}];"
      },
      "id": "c4ec7f53-61c6-4db3-8942-34293da0f376",
      "name": "Code Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -288,
        192
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1_J8iR9cBzQULddwnogXklPRe6Ka72r4wyX745iunEMU",
        "range": "A:Z",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "06d1b9fb-fe83-4cb5-a21f-1b8bf8e60f26",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "foHPeTlyxgr0kMNZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "7060216856",
        "binaryData": true,
        "binaryPropertyName": "attachment_0",
        "additionalFields": {
          "caption": "=🔔 HÓA ĐƠN MỚI\n--------------------\n📁 Tên file: {{$json.tenFile}}\n📧 Người gửi: {{$json.nguoiGuiMail}}\n🗓️ Ngày nhận: {{$json.ngayNhanMail}}\n---\nVAT: {{$json.vat}}\nNhà Cung Cấp: {{$json.nhaCungCap}}\nNgày HĐ: {{$json.ngayXuatHoaDon}}"
        }
      },
      "id": "6069466d-9f8d-4ead-a549-b9237189c88f",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        0,
        144
      ],
      "webhookId": "1f06a9a7-6612-4cc5-a75a-7c10b3227c6c",
      "credentials": {
        "telegramApi": {
          "id": "4Bl4VX3973bSgZVt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "attachment_0",
        "name": "={{$json.tenFile}}",
        "parents": [
          "18nxWd1nQuls8ZGOoNJPgW0YH5HhPrfh3"
        ],
        "options": {}
      },
      "id": "5124ec64-4778-47dc-b355-84b70babdab1",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "izxk8zUDyMFRdOd6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "basicAuth",
        "url": "https://improvable-nonconductible-honey.ngrok-free.dev/api/vat/webhook",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"tenFile\": \"{{$json.tenFile}}\",\n  \"nguoiGuiMail\": \"{{$json.nguoiGuiMail}}\",\n  \"ngayNhanMail\": \"{{$json.ngayNhanMail}}\",\n  \"vat\": \"{{$json.vat}}\",\n  \"nhaCungCap\": \"{{$json.nhaCungCap}}\",\n  \"ngayXuatHoaDon\": \"{{$json.ngayXuatHoaDon}}\",\n  \"fileData\": \"{{$json.fileData}}\",\n  \"fileMimeType\": \"{{$json.fileMimeType}}\"\n}"
      },
      "id": "b3161265-2e14-42a6-83b0-46172fce884f",
      "name": "HTTP Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        448
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "hTS8NBSfINxmGIpp",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy item hiện tại\nconst item = $input?.item ?? $item;\n\n// Lấy property binary hợp lệ (ưu tiên 'data' rồi 'attachments_0', sau đó auto-pick)\nconst bin = item.binary ?? {};\nconst propName = bin.data\n  ? 'data'\n  : (bin.attachments_0 ? 'attachments_0' : Object.keys(bin)[0]);\n\nif (!propName || !bin[propName]?.data) {\n  throw new Error(\"Không tìm thấy dữ liệu file. Hãy bật 'Download Attachments' trên Gmail Trigger và kiểm tra tên binary property.\");\n}\n\n// Đối tượng binary của n8n đã là base64 ở field .data\nconst b = bin[propName]; // { data: <base64>, mimeType, fileName }\n\nitem.json.data_base64 = b.data;                           // base64 sẵn\nitem.json.mime_type   = b.mimeType || 'application/octet-stream';\nitem.json.file_name   = b.fileName || 'attachment';\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        144
      ],
      "id": "c3d4d9f1-ac8b-4bcf-977a-50579c877629",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyC7Fu9Wlfr4dPLmX-pQ50FFCQPnBq7ishw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Bạn là một trợ lý kế toán. Hãy nhìn vào file hóa đơn này và trích xuất: Mã số thuế (VAT), Tên nhà cung cấp, Ngày xuất hóa đơn. Trả lời CHỈ dưới dạng JSON.\"\n        },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $json.mime_type }}\",\n            \"data\": \"{{ $json.data_base64 }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        144
      ],
      "id": "a282c879-3143-4ab5-a565-3a58125789df",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8689116-f1b6-4563-913d-2d105df1e220",
  "meta": {
    "instanceId": "744faee57bbff3710af0cf3493f5a19d804affb1db608dbe7367ae05da513573"
  },
  "id": "IHji3Dr7D25fevnX",
  "tags": []
}